#noo{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#yess{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#noo:hover {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transform:translateX(-115px);
    -moz-transform:translateX(-115px);
    -o-transform:translateX(-115px);
    -ms-transform:translateX(-115px);
    transform:translate5Y(-115px);
    -webkit-transform:translateX(-115px);
    -moz-transform:translateX(-115px);
    -o-transform:translateX(-115px);
    -ms-transform:translateX(-115px);
    transform:translateX(-115px);
}